<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Projects Homepage</title>
</head>
<body>
<nav th:replace="layout :: nav-bar"></nav>
<div class="container">
    <h3 class="col-6 mx-auto text-center my-2 p-2 bg-warning">All Projects</h3>
    <table class="table table-stripped table-hover text-center">
        <thead class="thead-dark">
        <tr>
            <th>project id</th>
            <th>name</th>
            <th>stage</th>
            <th>description</th>
        </tr>
        </thead>
        <tbody class="text-wrap">
        <tr th:each="project:${projectList}">
            <td th:text="${project.projectId}"></td>
            <td th:text="${project.name}"></td>
            <td th:text="${project.stage}"></td>
            <td th:text="${project.description}"></td>
        </tr>
        </tbody>
    </table>
    <h3 class="bg-warning w-auto d-inline-block p-1">
        <a class="text-decoration-none" th:href="@{/project/add-form}">Add Project</a>
    </h3>
</div>
</body>
</html>